.App {
  text-align: center;
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  padding: 0px;
  margin: 0;
  overflow-y: hidden;
}

body i{
  cursor: pointer;
}

.header{
  display: flex;
}

nav{
  align-items: center;
}

.horizontal-nav{
  display: flex;
  border: 1px solid none;
  padding-inline: 10px;
  /* padding: 20px 0; */
}

.open-menu:hover{
  background-color:rgb(225, 222, 222) ;
  border-radius: 50%;
}

.logo{
  display: flex;
  border: 1px solid none;
}

.logo img {
  height: auto;
  aspect-ratio: 3/2;
  width: 100%;
  object-fit: contain;
  position: relative;
  cursor: pointer;
  left: 20px;
  mix-blend-mode: multiply;
}

.logo-img{
  left: 0;
  right: 0;
  margin-left: 5px;
}

.search input{
  height: 45px;
  width: 80%;
  border-radius: 25px 0 0 25px ;
  margin-right: 0px;
  border: 1px solid  rgb(213, 212, 212);
  padding-left: 15px;
  font-size: 20px;
}

.search{
  height: 35px;
  width: 100%;
  border-radius: 10px;
}

.search-button{
  cursor: pointer;
  height: inherit;
  position: relative;
  border: 1px solid rgb(213, 212, 212);
  left: 0;
  float: right;
  height: 45px;
  width: 20%;
  border-radius: 0 25px 25px 0;
}


.search-section{
  display: flex;
  width: 50%;
  padding-top: 20px;
}

.chrome-cast{
  display: none;
}

.bell{
  display: none;
}

.search-mobile{
  display: none;
}

.account-details{
  display: flex;
  padding: 20px;
  margin-left: auto;
}

.account-icon{
      border-radius: 50%;
      color: white;
      background-color: rgb(139, 18, 38);
      padding-block: -6px;
      cursor: pointer;
      padding: 12px;
      text-align: center;
      height: 40px;
      width: 40px;
}


.toggle-vertical {
  display: flex;
  width: 25%;
  align-items: center;
}

.ng {
  position: relative;
  font-size: small;
  bottom: 10px;
  right: 7px;
}

.open-menu img{
  width: auto;
  height: auto;
  /* margin-top: 25px; */
}

.open-menu{
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

.mic{
  /* margin-top: 15px;    */
  margin-left: 20px;
  border: 1px solid none;
  height: 45px;
  background-color: rgb(236, 236, 236);
  width: 50px;
  display: flex;
  justify-content: center;
  padding: 12px;
  border-radius: 48%;
}

.search form{
  width: 100%;
} 

.open-menu {
  height: -moz-fit-content;
  height: fit-content;
  width: 30px;
  display: flex;
  justify-content: center;
  height: 30px;
  align-items: center;
}

/* .open-menu img{
  width: 20px;
  height: 40px;
} */

.account-details i {
  margin-top: 30px;
  margin-right: 20px;
}



/* Side section */
.nav-link {
  display: flex;
  padding-left: 5px;
  margin-left: 25px;
  margin-block: 0px;
  padding-block: 0px;
  width: auto;
  align-items: center;
  height: 40px;
  gap: 7px;
  /* border: 1px solid black; */
}

.nav-link:hover{
  border: 1px solid none;
  cursor: pointer;
  border-radius: 6px;
  background-color: rgb(245, 245, 245);
}


::-webkit-scrollbar{
    width: 7px;
    height: 5px;
}

::-webkit-scrollbar-track{
    background: none;
}



::-webkit-scrollbar-thumb{
    background:transparent;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background:grey;
    border-radius: 5px;
}

.side-section:hover::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}

.side-section{
  border: 1px solid none;
  width: 15%;
  overflow-y: auto;
  padding-bottom: 100px;
  min-width: 150px;
}

.side-section-con{
  position: sticky;
}

main{
  display: flex;
  height: 100vh;
}


.videos {
   display: flex;
    flex-wrap: wrap;
    padding-block: 20px;
    column-gap: 15px;
    justify-content: space-evenly;
    row-gap: 23px;
    overflow-y: auto;
    width: 100%;
    padding-inline: 20px;
    /* height: 100vh; */
}

.videos:hover::-webkit-scrollbar-thumb{
  background: grey;
    border-radius: 5px;
}

.video-con{
  width: 358px;
  padding-block: 0;
}

.videos video {
  border-radius: 15px;
  /* height: 265px; */
  cursor: pointer;
  width: 100%;
}

.video-details {
  display: flex;
  cursor: pointer;
  width: 100%;
  /* border: 1px solid black; */
  padding-inline: 0;
  align-items: flex-start;
}

.video-text{
      font-size: 12px;
      word-wrap: wrap;
      margin-left: 14px;
      text-align: left;
      width: 80%;
}

.text-title{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
}

.video-text p{
  padding: 0;
  gap: 0;
      min-width: 200px;
  margin-block: 0;
}

.video-text h3{
  margin-block: 0;
    line-height: 18px;
  }

.channel-img {
      width: 35px;
      border: 1px solid black;
      height: 35px;
      border-radius: 50%;
      background-image: url(https://yt3.googleusercontent.com/ytc/AOPolaQ97DZWnavswgJGd0k1A_4-86luBhMtQ5uMnhf5BQ=s176-c-k-c0x00ffffff-no-rj);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      min-width: 35px;
}

.sub-img {
  border: 1px solid none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(../src/components/Dakirby309-Simply-Styled-YouTube.256.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sub {
  display: flex;
  padding-left: 5px;
  margin-left: 30px;
}

.sub-name {
  margin-left: 10px;
}

.sub:hover {
  background-color: rgb(225, 222, 222);
  border-radius: 15px;
  cursor: pointer;
}

/* icons */
.icons{
  font-weight: 200;
}

.microphone{
  align-self: center;
  height: auto;
  width: auto;
}

.youtube-icon{
  color: red;
}

footer{
  display: none;
}

@media only screen and (max-width:1340px) {
 
  .video-con{
    width: 320px;
  }
}

@media only screen and (max-width:1210px) {
 
  .video-con{
    width: 218px;
  }
}

@media only screen and (max-width:910px) {
 
  .video-con{
    width: 175px;
  }

  .search-section{
    width: 45%;
    margin-left: 17px;
  }
}

@media only screen and (max-width:580px){
  header{
    padding-block: 0;
    margin-block: 0;
  }

  .toggle-vertical{
    height: 40px;
  }

  nav{
    margin-top: 0;
    padding-block: 0;
    border-bottom: 1px solid black;
  } 

  .side-section{
    display: none;
  }
  .videos{
    width: 100%;
    flex-direction: row;
    padding: 0;
    overflow-y: auto;
    margin:0 ;
    margin-top: 20px;
  }

  .videos video{
    border-radius: 0;
  }

  .video-con{
    padding: 0;
    width: 100%;
  }

  .video-details{
    padding-inline: 10px;
  }

  .logo img{
    left: 0;
    mix-blend-mode: multiply;
  }

  .icons{
    display: none;
  }

  .search-section{
        margin-left: 30px;
        width: 40%;
        display: none;
  }

  .chrome-cast{
    display: block;
  }

    .bell {
      display: block;
    }
  
    .search-mobile {
      display: block;
    }

    .account-details > .icons{
      margin-right: 20px;
    }

  .account-details{
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
  }

  .account-icon{
    height: 25px;
    width: 25px;
    font-size: 15px;
    padding: 5px;
  }

  footer{
    display: block;
    height: 70px;
    background-color: white;
    position: absolute;
    border-top: 1px solid black;
    bottom: -5px;
    z-index: 999;
    width: 100%;
  }

  .footer-nav{
    display: flex;
    padding-top: 15px;
    justify-content: space-around;
    width: 95%;


  }

  footer .icons{
    display: block;
    padding: 0;
    width: auto;
    top: 5px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }

  .foot-home{
    margin-right: -7px;
  }

  .foot-sub{
    margin-right: -20px;
  }

  .foot-library{
    margin-right: -13px;
  }




  footer p{
    line-height: 0;
    font-size: small;
    text-align: center;
  }

  footer button{
    background-color: transparent;
    border: none;
    width: 30%;
  }

    .open-menu {
     display: none;
    }
}